<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="articles" id="sheets">
        {% for sheet in site.sheets %}
        <article class="article">
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{sheet.url}}"> {{sheet.title}} </a>
          </h2>
          <div class="categories">
            {% for c in sheet.categories %}
            <a href="javascript:;" data-base-url="{{site.baseurl}}" class="category"
              >{{c}}</a
            >
            {% endfor %}
          </div>
        </article>
        {%endfor%}
      </section>
      <section class="articles" id="monsters">
        {% for monster in site.monsters %}
        <article class="article">
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{monster.url}}"> {{monster.title}} </a>
          </h2>
        </article>
        {%endfor%}
      </section>
      <section class="articles" id="adventures">
        {% for adventure in site.adventures %}
        <article class="article">
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{adventure.url}}"> {{adventure.title}} </a>
          </h2>
        </article>
        {%endfor%}
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
  <script src="{{site.baseurl}}/assets/js/scrolling_menu.js"></script>
  <script src="{{site.baseurl}}/assets/js/main_blog.js"></script>
</html>
